.table-container {
  font-size: initial;
  /* Rounded sliders */ }
  .table-container .switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px; }
  .table-container .switch input {
    display: none; }
  .table-container .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s; }
  .table-container .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s; }
  .table-container input:checked + .slider {
    background-color: #4db312; }
  .table-container input:focus + .slider {
    box-shadow: 0 0 1px #4db312; }
  .table-container input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px); }
  .table-container .slider.round {
    border-radius: 17px; }
  .table-container .slider.round:before {
    border-radius: 50%; }
  .table-container .pointer {
    width: 0px;
    height: 0px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid #343a40;
    position: absolute;
    left: -7px;
    top: 60px; }
  .table-container .details .close-button {
    display: none; }
  .table-container .alert {
    display: none; }
    .table-container .alert.alert-active {
      display: initial;
      position: fixed;
      bottom: 0;
      right: 0; }

.rs-control .rs-range-color {
  background: linear-gradient(to right, orange, gold); }

.rs-control .rs-path-color {
  background-color: white; }

.rs-control .rs-handle {
  background-color: #ffffff; }

.rs-control .rs-bg-color {
  background-color: #343a40; }

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .table-container .details {
    display: none; }
    .table-container .details.active {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block; }
    .table-container .details .close-button {
      display: inline-block;
      position: fixed;
      top: 10px;
      left: 10px; } }
